@import "../base/typography";
@import "../variables/variables";
@import "../abstracts/mixins";

.feature-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 944px;
  top: 680px;
  @include tablet { top: 480px; }
  @include mobile { top: 440px; }

  .feature-text-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include tablet { width: 648px; }
    @media (max-width: 500px) { width: 335px; }

    h2 {
      font-family: $primary_font;
      font-size: 49px;
      font-weight: 650;
      line-height: 120%;
      letter-spacing: 1.5px;
      color: $main_font_color;
      margin: 0;
      @include mobile { font-size: 30px;}

      span {
        @include gradient(linear-gradient(65deg, #017373, #AAD9D1));
      }
    }

    p {
      width: 410px;
      height: 59px;
      font-family: $primary_font;
      font-size: 16px;
      text-align: center;
      line-height: 150%;
      color: $secondary_font_color;
      padding-top: 5px;
      margin: 0;
      @include mobile { font-size: 14px; width: 335px; }
    }
  }

  .feature-boxes-conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 24px;
    position: relative;
    width: 100%;
    max-width: 1152px;
    height: 599px;
    top: 100px;

    @media (max-width: 1200px) { max-width: 642px; grid-template-rows: repeat(4, auto); }
    @media (max-width: 670px) { max-width: 335px; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(6, auto); }


    .item-1 {
      @include grid-item(1, 3, 1, 2, 228px);

      @media (max-width: 1200px) { @include grid-item(1, 3, 1, 2, 270px); }
      @media (max-width: 670px) { @include grid-item(1, 3, 1, 2, 204px); }
    }

    .item-2 {
      @include grid-item(3, 5, 1, 2, 228px);

      @media (max-width: 1200px) { @include grid-item(3, 5, 1, 2, 270px); }
      @media (max-width: 670px) { @include grid-item(1, 3, 2, 3, 204px); }
    }

    .item-3 {
      @include grid-item(1, 2, 2, 3, 351px);

      @media (max-width: 1200px) { @include grid-item(1, 5, 2, 3, 222px); }
      @media (max-width: 670px) { @include grid-item(1, 3, 3, 4, 225px); }
    }

    .item-4 {
      @include grid-item(2, 3, 2, 3, 351px);

      @media (max-width: 1200px) { @include grid-item(1, 3, 3, 4, 249px); }
      @media (max-width: 670px) { @include grid-item(1, 3, 4, 5, 183px); }
    }

    .item-5 {
      @include grid-item(3, 4, 2, 3, 351px);

      @media (max-width: 1200px) { @include grid-item(3, 5, 3, 4, 249px); }
      @media (max-width: 670px) { @include grid-item(1, 3, 5, 6, 212px); }
    }

    .item-6 {
      @include grid-item(4, 5, 2, 3, 351px);

      @media (max-width: 1200px) { @include grid-item(1, 5, 4, 5, 222px); }
      @media (max-width: 670px) { @include grid-item(1, 3, 6, 7, 225px); }
    }


    .feature-box {
      border: solid 0.5px $second_color;
      border-radius: 12px;
      overflow: hidden;

      .text-feature-box {
        position: relative;
        padding: 24px;
        top: 0;
        left: 0;

        h6 {
          font-family: $primary_font;
          font-size: 20px;
          line-height: 150%;
          color: $main_font_color;
          position: relative;
          top: 22px;
          left: 8px;
          margin: 0;
          overflow-wrap: break-word;
          @media (max-width: 1200px) { font-size: 18px; top: 12px; left: 0}
        }

        p {
          font-family: $primary_font;
          font-size: 16px;
          line-height: 150%;
          text-align: left;
          color: $secondary_font_color;
          position: relative;
          top: 16px;
          left: 8px;
          @media (max-width: 1200px) { left: 0}
          @media (max-width: 670px) { font-size: 14px; top: 4px; }
        }
      }

      img {
        position: relative;
        top: 32px;
        left: 32px;
        @media (max-width: 1200px) { top: 32px; left: 24px; }
        @media (max-width: 670px) { top: 24px; left: 24px;}
      }
    }
  }
}