@import "../base/typography";
@import "../variables/variables";
@import "../abstracts/mixins";


.footer-conteiner {
  display: flex;
  position: relative;
  top: 1675px;
  width: 100%;
  height: 404px;
  border-top: #048C80 1px solid;
  @media (max-width: 1350px) { height: 557px; }
  @media (max-width: 1200px) { top: 1975px; }
  @media (max-width: 690px) { height: 727px; }
  @media (max-width: 670px) { top: 2175px; }

  .footer-logo {
    position: absolute;
    top: 80px;
    left: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @media (max-width: 1350px) { left: 48px; }
    @media (max-width: 600px) { left: 20px; top: 64px; }
  }

  .email-button {
    position: absolute;
    top: 192px;
    left: 144px;
    @media (max-width: 1350px) { left: 48px; }
    @media (max-width: 600px) { left: 20px; top: 137px; }

    button{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 290px;
      height: 48px;
      border: #048C80 1px solid;
      border-radius: 8px;
      background-color: #EFECE6;

      p {
        font-family: $primary_font;
        font-size: 14px;
        position: absolute;
        left: 16px;
      }

      img {
        position: absolute;
        right: 16px;
        width: 32px;
        height: 32px;
      }
    }
  }

  .footer-links {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    right: 143px;
    top: 62px;
    gap: 123px;
    @media (max-width: 1350px) { left: 48px; right: 0;}
    @media (max-width: 1350px) { top: 258px; }
    @media (max-width: 950px) { gap: 84px; }
    @media (max-width: 750px) { gap: 47px; }
    @media (max-width: 600px) { left: 20px; top: 200px; row-gap: 10px; }

    h3 {
      font-family: $primary_font;
      font-size: 18px;
      color: #EFECE6;
      line-height: 150%;
      margin-bottom: 7px;
      @media (max-width: 600px) { font-size: 16px; }
    }

    li {
      margin-top: 3px;
      list-style: none;
      a {
        font-family: $primary_font;
        font-size: 16px;
        color: #BABABA;
        line-height: 150%;
        text-decoration: none;
        &:hover { color: $second_color }
        @media (max-width: 600px) { font-size: 14px; }
      }
    }
  }

  .footer-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 76px;
    background-color: #048C80;
    @media (max-width: 680px) { height: 136px; }

    p {
        font-size: 14px;
        font-family: $primary_font;
        position: absolute;
        left: 144px;
        @media (max-width: 1350px) { left: 48px; }
        @media (max-width: 680px) { left: 30px; top: 81px; }
        @media (max-width: 400px) { left: 20px; top: 70px;}
    }

    .social_nets-conteiner {
      display: flex;
      position: absolute;
      right: 155px;
      gap: 2px;
      @media (max-width: 1350px) { right: 48px; }
      @media (max-width: 680px) { left: 20px; top: 8px; }
      @media (max-width: 400px) { left: 14px; top: 15px;}


      button {
        background: none;
        border: none;
      }
    }
  }
}