@import "../base/typography";
@import "../variables/variables";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 104px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $second_color solid 1px;


  .logo {
    display: flex;
    align-items: center;
    padding-left: 96px;

    img {
      width: 38px;
      height: 38px;
    }
    h2 {
      color: $font_color;
      padding-left: 8px;
    }
  }

  ul {
    display: flex;
    gap: 56px;
    padding-left: 0;

    li {
      a {
        font-size: 16px;
        font-family: $primary_font;
        text-decoration: none;
        color: $font_color;
      }
    }
  }

  .btn {
    padding-right: 96px;

    button {
      width: 167px;
      height: 56px;
      border-radius: 8px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(62deg, #017373, #AAD9D1);

      p {
        font-size: 16px;
        font-family: $primary_font;
        padding-right: 8px;
      }
    }
  }
}