@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.pricing-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  top: 850px;
}
@media (max-width: 1200px) {
  .pricing-conteiner {
    top: 1150px;
  }
}
@media (max-width: 900px) {
  .pricing-conteiner {
    top: 1050px;
  }
}
@media (max-width: 670px) {
  .pricing-conteiner {
    top: 1350px;
  }
}
@media (max-width: 500px) {
  .pricing-conteiner {
    top: 1450px;
  }
}
@media (max-width: 400px) {
  .pricing-conteiner {
    top: 1350px;
  }
}
.pricing-conteiner .pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-conteiner .pricing-header h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 49px;
  font-weight: 650;
  line-height: 120%;
  letter-spacing: 1.5px;
  color: #EFECE6;
  margin: 0;
}
@media (max-width: 500px) {
  .pricing-conteiner .pricing-header h2 {
    font-size: 30px;
  }
}
.pricing-conteiner .pricing-header h2 span {
  background: linear-gradient(65deg, #017373, #AAD9D1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.pricing-conteiner .pricing-header p {
  width: 426px;
  height: 35px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 150%;
  color: #BABABA;
  padding-top: 14px;
  margin: 0;
}
@media (max-width: 500px) {
  .pricing-conteiner .pricing-header p {
    width: 335px;
    height: 31px;
    font-size: 14px;
  }
}
.pricing-conteiner .pricing-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding-top: 35px;
}
.pricing-conteiner .pricing-toggle .monthly-tag {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #EFECE6;
}
@media (max-width: 500px) {
  .pricing-conteiner .pricing-toggle .monthly-tag {
    font-size: 14px;
  }
}
.pricing-conteiner .pricing-toggle .yearly-tag {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #737373;
}
@media (max-width: 500px) {
  .pricing-conteiner .pricing-toggle .yearly-tag {
    font-size: 14px;
  }
}
.pricing-conteiner .pricing-toggle .monthly-tag.active {
  color: #737373;
}
.pricing-conteiner .pricing-toggle .yearly-tag.active {
  color: #EFECE6;
}
.pricing-conteiner .pricing-toggle .discount-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 26px;
  border-radius: 40px;
  background: linear-gradient(65deg, #017373, #AAD9D1);
  background-size: cover;
  background-clip: border-box;
  -webkit-background-clip: border-box;
}
.pricing-conteiner .pricing-toggle .discount-tag p {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #080808;
}
.pricing-conteiner .pricing-toggle .switch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 35px;
}
.pricing-conteiner .pricing-toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.pricing-conteiner .pricing-toggle .switch input:checked + .slider {
  background-color: #009898;
}
.pricing-conteiner .pricing-toggle .switch input:checked + .slider:before {
  transform: translateX(34px);
}
.pricing-conteiner .pricing-toggle .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BABABA;
  transition: 0.4s;
  border-radius: 16.5px;
  border: 1px solid #017373;
}
.pricing-conteiner .pricing-toggle .switch .slider:before {
  position: absolute;
  content: "";
  width: 18px;
  height: 21px;
  left: 6px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.pricing-conteiner .pricing-boxes-conteiner {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 36px;
  padding-top: 25px;
}
@media (max-width: 1200px) {
  .pricing-conteiner .pricing-boxes-conteiner {
    grid-template-columns: 1fr;
  }
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box {
  position: relative;
  width: 357px;
  height: 432px;
  border: 2px solid #017373;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .pricing-conteiner .pricing-boxes-conteiner .pricing-box {
    width: 472px;
    height: 432px;
  }
}
@media (max-width: 670px) {
  .pricing-conteiner .pricing-boxes-conteiner .pricing-box {
    width: 335px;
    height: 426px;
  }
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-title {
  display: flex;
  position: relative;
  width: 150px;
  gap: 8px;
  top: 30px;
  left: 32px;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-title p {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #027373;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-price {
  display: flex;
  position: relative;
  padding-left: 32px;
  font-size: 48px;
  font-weight: bold;
  color: white;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-price p {
  font-family: "DM Sans", sans-serif;
  position: relative;
  margin-top: 40px;
  line-height: 120%;
  letter-spacing: 0;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-price .tag {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  padding-left: 8px;
  top: 30px;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .list {
  position: absolute;
  top: 150px;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .list .list-item {
  display: flex;
  padding-left: 32px;
  margin-top: 9px;
  margin-bottom: 2px;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .list .list-item img {
  padding-right: 8px;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 128px;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-btn button {
  width: 293px;
  height: 59px;
  border: 1px solid #009898;
  background-color: #EFECE6;
  gap: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-btn button:hover {
  background: linear-gradient(65deg, #AAD9D1, #43a4a4);
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-btn button p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-btn button img {
  width: 27px;
  height: 27px;
}
.pricing-conteiner .pricing-boxes-conteiner .pricing-box .box-btn .note {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  margin-top: 2px;
  color: #BABABA;
}
.pricing-conteiner .pricing-boxes-conteiner .item-1 {
  background-color: white;
}
.pricing-conteiner .pricing-boxes-conteiner .item-1 .box-price p {
  color: black;
}
.pricing-conteiner .pricing-boxes-conteiner .item-2 {
  background-color: #080808;
}
.pricing-conteiner .pricing-boxes-conteiner .item-2 .list-item {
  color: #BABABA;
}
.pricing-conteiner .pricing-boxes-conteiner .item-2 .tag {
  color: #027373;
}
.pricing-conteiner .pricing-boxes-conteiner .item-2 button {
  border: 1px solid #017373;
  background: linear-gradient(62deg, #017373, #AAD9D1);
}
.pricing-conteiner .pricing-boxes-conteiner .item-3 {
  background-color: white;
  height: 416px;
}
.pricing-conteiner .pricing-boxes-conteiner .item-3 .box-price p {
  color: black;
}

/*# sourceMappingURL=Pricing.css.map */
